body {
	margin: 0;
}

img {
	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Open Sans', Verdana, sans-serif;
}

#frontpage {
	background: #800000;
}

#secondpage, #thirdpage {
	background: url("img/confectionary.png");
	background-repeat: repeat;
}

#fourthpage {
	background: #ffc800;
}

#fifthpage {
	background: #00d2ff;
}

h1 {
	font-size: 6em;
	font-weight: 400;
	line-height: 1;
}

h2 {
	font-size: 4em;
	font-weight: 200;
}

h3 {
	margin-top: 3em;
	font-size: 3.5em;
	font-weight: 200;
}

p {
	font-size: 2.5em;
	font-weight: normal;
}

hr {
	margin: 0;
}

.top {
	margin-top: 4em;
}

#moose {
	padding-right: 4em;
	padding-top: 4em;
	width: 40%;
	float: right;
	position: absolute;
}

#paraleft {
	width: 33.333333%;
	text-align: left;
	margin-top: 15em;
	padding-left: 20em;
	padding-bottom: 10em;
}

#pararight {
	float: right;
	width: 33.333333%;
	text-align: right;
	margin-top: 10em;
	padding-right: 20em;
}

#sgheader {
	margin-top: em;
}

#logo {
	margin-top: 30em;
	width: 100%;
}

#sgtoronto {
	margin: 0;
	width: 100%;
}

#man {
	margin-top: 0em;
	padding-left: 20em;
	width: 20%;
	float:left;
}

#spicy {
	margin-top: 45em;
}

#flame {
	width: 100%;
}

.sgcanada {
	color: white;
	width: 100%;
}

#sgvscanada {
	width: 100%;
}

#waves {
	width: 100%;
}